@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome To Oracell Engineering LTD.</h1>
    <p>Learn about <a href="https://tse2.mm.bing.net/th/id/OIP.hoAh_JJf_C5hir45F3nQygHaEK?rs=1&pid=ImgDetMain&o=7&rm=3">building Web apps with ASP.NET Core</a>
        <br/>
        <small>
            Oracell Engineering LTD &copy; @DateTime.Now.Year. Developed by Irin sarker Mim.
        </small>
        
    </p>
</div>
@* <!-- Footer -->
<footer class="bg-dark text-light py-3 mt-auto">
    <div class="container text-center">
        <small>
            &copy; @DateTime.Now.Year Your Company Name. All rights reserved.
        </small>
        <br />
        <small>
            Developed by Your Name | <a href="mailto:admin@example.com" class="text-light text-decoration-underline">Contact</a>
        </small>
    </div>
</footer> *@